@model ProjectActvity_CodeFirst.Models.Guests

@{
    Layout = null;
    <link rel="stylesheet" href="/css/StyleHomeIndex.css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4 style="text-align:center">Guests</h4>
    <hr />
    <dl class="row">
        <dt style="color:white" class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guestId)
        </dd>
        <dt style="color:white" class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="color:white" class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt style="color:white" class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt style="color:white" class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attendance)
        </dt>
        <dd style="margin-left:33%" class = "col-sm-10">
            @Html.DisplayFor(model => model.attendance)
        </dd>
    </dl>
</div>
<div style="text-align:center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.guestId}) |
    <a style="color:white" asp-action="Index">Back to List</a>
</div>
</body>
</html>
